.img{
  display: flex;
  gap: 100px;
}
.oldImg {
  width: 300px;
  height: auto;
  border-radius: 10px;
}
.box{
  height: 250px;
  width: 200px;
  background-color: grey;
  padding: 10px;
  border-radius: 5px;
}
#description{
  background-color: rgb(248, 225, 184);
}

