body{
  background-color: #ECFEFF;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
button{
  height: 2rem;
  width: 5rem;
  border-radius: 0.8rem;
  border: none;
  background-color: black;
  color: white;
  font-family: "Poppins", sans-serif;
}
button:hover{
  background-color: rgb(69, 1, 1);
  cursor: pointer;
  transform: scale(1.02);
}
.heading{
  color: green;
  font-weight: bold;
}
textarea{
  border: 2px solid #22D3EE;
  background-color: #67E8F9;
}