body{
  background-color: rgb(241, 229, 196);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h3{
  font-size: 1.5rem;
  font-weight: bold;
  color: green;
}
.box1{
  background-color: rgb(235, 181, 65);
  border-radius: 0.8rem;
  width: 30rem;
  height: 12.5rem;
  line-height: 0.8rem;
}
.msg{
  margin-left: 0.8rem;
}
p{
  margin-left: 0.8rem;
}
.top{
  height: 2.5rem;
  width: 7rem;
  border-radius: 1rem;
  border: none;
  background-color: black;
  color: white;
  font-family: "Poppins", sans-serif;
}
.top:hover{
  background-color: rgb(69, 1, 1);
  cursor: pointer;
  transform: scale(1.02);
}
.footer{
  line-height: 0.5rem;
  margin-bottom: 1rem;
}
.from{
  padding-top: 1rem;
}
.message{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bottom{
  margin-right: 1rem;
  width: 4rem;
  border-radius: 0.4rem;
  border: none;
  background-color: black;
  color: white;
  font-family: "Poppins", sans-serif;
}
.bottom:hover{
  background-color: rgb(69, 1, 1);
  cursor: pointer;
  transform: scale(1.02);
}