body{
  background-color: rgb(239, 227, 194);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
button{
  height: 2.5rem;
  width: 7rem;
  border-radius: 1rem;
  border: none;
  background-color: black;
  color: white;
  font-family: "Poppins", sans-serif;
}
button:hover{
  background-color: rgb(69, 1, 1);
  cursor: pointer;
  transform: scale(1.02);
}
h3{
  font-size: 1.5rem;
  font-weight: bold;
  color: green;
}
input{
  height: 1.5rem;
  width: 10rem;
  border: 2px solid rgb(235, 181, 65);
}
textarea{
  border: 2px solid rgb(235, 181, 65);
}