<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/new.css">
</head>
<body>
  <h3>Write new chats</h3>
  <form method="POST" action="/chats">
    <input placeholder="Who are you" name="from">
    <br>
    <br>
    <textarea name="msg" rows="6" cols="30">Write your message here..</textarea>
    <br>
    <br>
    <input placeholder="Add receiver" name="to">
    <br>
    <br>
    <button>Create chat</button>
  </form>
</body>
</html>