<%- include("includes/head.ejs"); %>
<body>
  <h1>This is the home page</h1>
  <h3> <%= 2 + 3 %> </h3>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque repellendus possimus accusamus, exercitationem
    optio reiciendis pariatur dolor aut eum illo at enim officia?</p>
  <button>click me!</button>  
</body>

</html>